{% extends "base/base.html" %}

{% block head %}
{{ super() }}
<!-- Custom styles for this template -->
    <link href="../static/css/signin.css" rel="stylesheet">
{% endblock %}

{% block title %}Login{% endblock %}

{% block page_content%}
  {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
  {% endfor %}
{% endblock %}

{% block login %}
      <div class="container" style="margin-top:120px;">
      	<form action="{{ url_for('main.login') }}" method=post class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Login">Sign in</button>
        </form>
      </div>
{% endblock %}










