{% extends "base/chart_base.html" %}

{% block page_content%}
{% for message in get_flashed_messages() %}
  <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
  </div>
{% endfor %}

<div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <div class="page-header">
            <h3>查找</h3>

        </div>
        <div class="bs-callout bs-callout-primary">
          <h4>存在节点</h4>
          <p>01, 02, 03, 04, 05</p>
        </div>
        <!-- <form action="{{ url_for('user.temperature') }}" method=post class="form-signin" id="searchform"> -->
        <h4 class="form-signin-heading">搜索节点</h4>
        <label for="inputSearch" class="sr-only">Search</label>
        <input type="text" name="node" id="inputsearch" class="form-control" placeholder="Search" required autofocus><br>
        <button class="btn btn-sm btn-primary" id="click2search" value="Search">Search</button>
        <!-- </form> -->
      </div>
      <div class="col-md-10">
        <div class="page-header">
            <h3>数据统计</h3>
        </div>
			<div id="actualtime-temp"></div>
			<div id="lastday-temp"></div>
			<div id="lastweek-temp"></div>
			<div id="all-temp"></div>
      </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script type="text/javascript" src="../static/js/temperature/tempview.js"></script>
	<script type="text/javascript" src="../static/js/temperature/lastdaytemp.js"></script>
	<script type="text/javascript" src="../static/js/temperature/lastweektemp.js"></script>
	<script type="text/javascript" src="../static/js/temperature/ajax_temp.js"></script>
	<script type="text/javascript" src="../static/js/temperature/all_temp.js"></script>
{% endblock %}